.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type {
   border: none;
}
.cursoLabel {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.cursoInfo {
    font-weight: normal;
}
.cursoLabel,
.cursoInfo {
    font-size: 2rem;
}