.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
.centrarTexto {
    text-align: center;
}
.contactoBg {
    background-image: url(./img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campoLabel {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campoField {
    flex: 1;
    border: 1px solid var(--gris);
    height: 20rem;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    background-color: var(--negro);
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}