.contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .camisa {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
 }