.contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
   }
   @media (min-width: 768px) {
     .nosotros {
       grid-template-columns: repeat(2, 1fr);
       column-gap: 2rem;
      }
   }
   .nosotrosImg {
     grid-row: 1 / 2;
   }
   @media (min-width: 768px) {
     .nosotrosImg {
       grid-column: 2 / 3;
     }
   }
   