.headerTexto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
 }
 @media (min-width: 768px) {
     .headerTexto {
         margin-top: 15rem;
     }
 }
 .noMargin {
    margin: 0;
}