.footer {
    background-color: var(--moradoOscuro);
    padding: 1rem 0;
    margin-top: 1rem;
  }
  .footerText {
    text-align: center;
    font-family: var(--Fuenteprincipal);
    font-size: 2.2rem;
  }